html {
  font-size: 26.6666667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
#header {
  display: flex;
}
#header .left {
  width: 45px;
  height: 45px;
}
#header .center {
  flex: 1;
}
#header .right {
  width: 45px;
  height: 45px;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #006699;
  width: 100%;
}
#footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: .45rem;
  color: #fff;
}
#footer a span {
  line-height: 1;
}
#footer a.active {
  color: orange;
}
#main a {
  display: block;
}
#main a img {
  width: 100%;
}
#main .nav {
  padding: .1rem;
}
#main .banner {
  padding: 0 .1rem;
}
#main .banner .left a {
  display: flex;
}
#main .banner .left a img {
  width: 50%;
  height: 1.2rem;
}
#main .banner .right a img {
  height: 2.4rem;
}
#main .sport,
#main .brand,
#main .women,
#main .man {
  padding: .1rem;
}
